header {
  width: 100%;
  height: 10vh;
}

nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5e548e;
  display: flex;
  align-items: center;
  justify-content: left;
}

nav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 2em;
  text-decoration: none;
  font-size: 1.1vw;
}

nav a:hover {
  background-color: #e0b1cb;
  color: #5e548e;
}

.logo {
  margin-right: 17vw;
  font-size: 1.2vw;
}

.logo:hover {
  background-color: inherit;
  color: inherit;
}

.other-color {
  color: #e0b1cb;
  font-size: 1.3vw;
}

.active {
  text-decoration: underline;
  text-decoration-color: #e0b1cb;
  text-decoration-thickness: 0.2em;
}

.active:hover {
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
  text-decoration-thickness: 0.2em;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  color: #22223B;
  margin: 0;
  background-color: #F2E9E4;
  width: 100%;
  height: 100vh;
}

#body-content {
  margin-left: 20%;
  margin-right: 20%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

footer { 
  background-color: #5e548e;
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #FFFFFF;
}

#footer-text {
  font-size: 1.1vw;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 91%;
  height: fit-content;
}